@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sora:wght@100..800&display=swap");

@import "tailwindcss";
@plugin "daisyui";

* {
  font-family: "Sora", sans-serif;
}
.font-inter {
  font-family: "Inter", sans-serif;
}
.claim-btn {
  border: 1px solid #e7fe29;
  padding: 8px;
  border-radius: 10px;
  display: inline-block;
}
.btn-warning {
  border: none;
  padding: 14px 20px;
  font-weight: 700;
  background-color: #e7fe29;
  color: #131313;
}
